.carousel {
  /* position: relative;
  height: 400px;
  width: 40%; */
  position:relative;
  width: 40%;
}

.carousel h2 {
  text-align: center;
}

.carousel__track-container {
  /* position: relative;
  overflow: hidden; */
  /* height: 100%; */
  overflow: hidden;
}

.carousel__track {
  display: flex;
  /* position: relative;
  height: 100%; */
}

.carousel__slide {
  /* position: absolute;
  width: 100%; */
  min-width: 100%;
  height: fit-content;
  background: #D9D9D9;
  border-radius: 8px;
  padding-inline: 3em;
  padding-block: 2.5em;

}

.carousel__button {
  border-radius: 50%;
  padding-block: 0.75em;
  padding-inline: 0.875em;
  background: var(--primary-color);
  position: absolute;
  top: 40%;
  z-index: 300;
  cursor: pointer;
}

.carousel__button--left {
left: -20px;
}

.carousel__button--right {
  right: -20px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding-block-start: 1em;
}

.carousel__indicator {
  padding: 1em;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

.is-hidden {display: none}