:root {
  --surface-dim: #d4dbdf;
  --on-primary-fixed: #001f29;
  --on-surface: #020608;
  --secondary-fixed: #c2e8ff;
  --outline-variant: #bec8cd;
  --on-primary: #ffffff;
  --inverse-on-surface: #ebf2f5;
  --on-secondary-fixed-variant: #004d67;
  --on-secondary-container: #005977;
  --on-primary-container: #005f78;
  --surface-container-low: #f1f7f9;
  --on-secondary: #ffffff;
  --background: #fbfdfe;
  --outline: #6f797e;
  --on-error-container: #93000a;
  --tertiary-fixed-dim: #00dfc3;
  --surface-container-lowest: #ffffff;
  --surface-variant: #dde3e7;
  --on-error: #ffffff;
  --tertiary-fixed: #34fddf;
  --on-primary-fixed-variant: #004d62;
  --primary-fixed-dim: #86d0ef;
  --surface-tint: #006782;
  --surface-container-high: #e2e9ed;
  --tertiary: #006b5d;
  --surface-container-highest: #dde3e7;
  --secondary: #006688;
  --surface-bright: #fbfdfe;
  --on-tertiary-fixed: #00201b;
  --inverse-primary: #86d0ef;
  --secondary-fixed-dim: #75d1ff;
  --on-tertiary: #ffffff;
  --on-tertiary-container: #006356;
  --error: #ba1a1a;
  --primary-fixed: #baeaff;
  --primary: #006782;
  --on-background: #020608;
  --tertiary-container: #00e7ca;
  --surface-container: #e8eff2;
  --on-secondary-fixed: #001e2b;
  --primary-container: #8ed8f7;
  --error-container: #ffdad6;
  --surface: #fbfdfe;
  --inverse-surface: #2b3134;
  --secondary-container: #75d1ff;
  --on-surface-variant: #3f484d;
  --brand-light: #83d9fb;
  --brand-accent: #75d1ff;
}
