.about {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.about h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: #333;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.about-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-line {
  width: 100%;
  height: 3px;
  background-color: #333;
}

.about-item p {
  color: #666;
  line-height: 1.8;
}
